global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Jika kamu ingin memonitor backend nodejs kamu nanti (opsional)
  # - job_name: 'nodejs-app'
  #   static_configs:
  #     - targets: ['backend:3000']